h1 {
	background-color: #E0E0E0;
}

p {
	margin: 0;
}

.fourteen {
	background-color: #31abed;
	color: white;
}

.thirteen {
	background-color: #53b4ed;
	color: white;
}

.twelve {
	background-color: #009fe6;
	color: white;
}

.eleven {
	background-color: #30aae9;
	color: white;
}

.ten {
	background-color: #55B6ED;
	color: white;
}

.nine {
	background-color: #71C1EF;
	color: white;
}

.eight {
	background-color: #8ACBEF;
	color: white;
}

.seven {
	background-color: #00BA88;
	color: white;
}

.six {
	background-color: #F5B0CC;
	color: white;
}

.five {
	background-color: #F26A98;
	color: white;
}

.four {
	background-color: #F25A8B;
	color: white;
}

.three {
	background-color: #EE3E7F;
	color: white;
}

.two {
	background-color: #F36A98;
	color: white;
}

.one {
	background-color: #F5598D;
	color: white;
}

.zero {
	background-color: #EE3D7F;
	color: white;
}